.content p{
    font-size: 5rem;
}
.first-tier-header{
    font-size: 4rem;
}
.second-tier-header{
    font-size: 2rem;
}
.brown-text{
    font-size: 1.4rem;
}
.section-container{
    /* border: blue 2px solid; */
    margin-top: 7%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.bottom{
    margin-bottom: 7%;
}
.overall-header{
    /* border: green 2px solid; */
    padding: 3% 0%;
}
.content-container{
    /* border: black 3px solid; */
    display: flex;
    justify-content: space-between;
    width: 65%;
}
.reverse{
    flex-direction: row-reverse;
}
.image-container{
    /* border: pink 2px solid; */
    display: flex;
    width: 40%;
    align-items: center;
}
.image-container img{
    width: 100%;
    border-radius: 16px;
}
.text-container{
    width: 55%;
}
.sub-header{
    padding: 2% 0%;
}
@media (max-width: 1700px){
    .first-tier-header{
       font-size: 3.5rem; 
    }
    .second-tier-header{
        font-size: 1.7rem;
    }
    .brown-text{
        font-size: 1.2rem;
    }
}
@media (max-width: 1490px){
    .first-tier-header{
        font-size: 3rem; 
     }
     .second-tier-header{
         font-size: 1.5rem;
     }
     .brown-text{
         font-size: 1rem;
     }
}
@media (max-width: 1170px){
    .content p{
        font-size: 4rem;
    }
    .first-tier-header{
        font-size: 2.7rem; 
     }
     .second-tier-header{
         font-size: 1.3rem;
     }
     .brown-text{
         font-size: 0.8rem;
     }
}
@media (max-width: 950px){
    .content p{
        font-size: 3rem;
    }
    .first-tier-header{
        font-size: 2.3rem; 
     }
     .second-tier-header{
         font-size: 1.1rem;
     }
     .brown-text{
         font-size: 0.7rem;
     }
}
@media (max-width: 768px){
    .first-tier-header{
        font-size: 2rem; 
     }
     .second-tier-header{
         font-size: 1rem;
     }
     .brown-text{
         font-size: 0.6rem;
     }
}
@media (max-width: 680px){
    .content-container{
        /* border: 2px solid black; */
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    .image-container{
        width: 60%;
    }
    .text-container{
        width: 80%;
    }
    .sub-header{
        margin-top: 5%;
    }
    .first-tier-header{
        font-size: 2.5rem; 
     }
     .second-tier-header{
         font-size: 1.3rem;
     }
     .brown-text{
         font-size: 0.8rem;
     }
}
@media (max-width: 440px){
    .content p{
        font-size: 2rem;
    }
    .first-tier-header{
        font-size: 2.1rem; 
     }
     .second-tier-header{
         font-size: 1rem;
     }
     .brown-text{
         font-size: 0.7rem;
     }
}
