.overall-container{
    border: pink 3px solid;
    margin: 90px 120px 0px 120px;
    display: flex;
    flex-direction: column;
}
.map-container{
    border: purple 3px solid;
    display: flex;
    justify-content: center;
}
#map { 
    margin-top: 50px;
    position: absolute;
    height: 90%;
    width: 80%;
}