*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    min-height: 131px;
    width: 100%;
    background-color: #533B24;
    display: flex;
}
.logo{
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 7em;
    margin-top: 10px;
    margin-left: 50px;
    margin: 10px 50px;
}
.navbar{
    border: red 1px solid;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    padding-right: 20px;
}
.navbar a{
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size: 1.3em;
    border: red 1px solid;
}
.slider{
    border: blue 1px solid;
    width: 100%;
    min-height: 793px;
}
.slider img{
    width: 100%;
    min-height: 793px;
}
