/* ========= CONTENT RELATED =========*/
.content p{
    font-size: 5rem;
}
.second-tier-header{
    font-size: 2rem;
}
.brown-text{
    font-size: 1.5rem;
}
.first-block{
    display: flex;
    border: red 1px solid; 
    padding: 5% 10% 0px 10%;
}
.image-container{
    display: flex;
    padding: 3%;
    border: green 1px solid;
    width: 35%;
    justify-content: center;
    align-items: center;
}
.image-container img{
    object-fit: contain;
    width: 100%;
    /* height: 400px;
    width: 400px; */
    border-radius: 50%;
}
.first-text-container{
    border: blue 1px solid;
    padding: 3%;
    width: 65%;
}
.first-para{
    padding: 25px 0px;
}
.footer-container{
    margin-top: 50px;
}
@media(max-width: 1600px){
    .content p{
        font-size: 4rem;
    }
    .second-tier-header{
        font-size: 1.5rem;
    }
    .brown-text{
        font-size: 1.1rem;
    }
}
@media(max-width: 1200px){
    .content p{
        font-size: 4rem;
    }
    .second-tier-header{
        font-size: 1.5rem;
    }
    .brown-text{
        font-size: 1.1rem;
    }
}
@media(max-width: 1000px){
    .content p{
        font-size: 4rem;
    }
    .second-tier-header{
        font-size: 1.3rem;
    }
    .brown-text{
        font-size: 0.9rem;
    }
}
@media(max-width: 700px){
    .first-block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image-container{
        width: 50%;
    }
    .first-text-container{
        width: 95%;
    }
    .content p{
        font-size: 3rem;
    }
    .second-tier-header{
        font-size: 1.3rem;
    }
    .brown-text{
        font-size: 0.9rem;
    }
}
@media (max-width: 500px){
    .content p{
        font-size: 3rem;
    }
    .second-tier-header{
        font-size: 1.1rem;
    }
    .brown-text{
        font-size: 0.7rem;
    }
}
@media (max-width: 435px){
    .content p{
        font-size: 2.5rem;
    }
    .second-tier-header{
        font-size: 0.9rem;
    }
    .brown-text{
        font-size: 0.7rem;
    }
}



